.dashboard-container {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #0b1b33;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px); /* Ocupa todo el alto, menos el tamaño del footer y header */
}

table {
  width: 90%; /* Para que la tabla no ocupe todo el ancho */
  margin: auto; /* Centra la tabla */
}

@media (max-width: 768px) {
  .table {
    font-size: 0.9rem; /* Ajusta el tamaño del texto para dispositivos pequeños */
  }
}

main {
  flex-grow: 1; /* Asegura que main ocupe todo el espacio disponible entre el header y el footer */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 100px); /* Ocupa el alto, menos el tamaño del header y footer */
}

.container-table {
  max-width: 1200px;
  margin: 0 auto; /* Asegura que la tabla esté centrada */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px); /* Ajusta para considerar header y footer */
  padding: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
  max-width: 900px; /* Ajusta el ancho máximo de la tabla */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  background-color: white; /* Fondo blanco para contrastar */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  table {
    font-size: 0.9rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
  }
}

