/* Asegura que el html y el body ocupen todo el viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Elimina el scroll globalmente */
}

/* Fondo de la página de inicio */
.homepage-background {
    height: 100vh;
    background-image: url('/fd5.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #00082C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    width: 100vw;
    padding-top: 9vh; /* Ajuste del espacio superior para el logo */
    padding-bottom: 15vh; /* Aumenta el espacio inferior para el botón */
    box-sizing: border-box;
}

.btn-iniciar {
    padding: 15px 40px;
    background: #00CFC1; /* Mantén el color principal y añade un tono ligeramente más claro */
    color: var(--color-texto-claro);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transition: all 0.3s ease;
    position: absolute;
    bottom: 120px;
    margin: 60px;
}

.btn-iniciar:hover {
    background: linear-gradient(135deg, #535bf2, #4040c2); /* Gradiente más oscuro en el hover */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.05);
}

.btn-iniciar:active {
    background: #4040c2;
    transform: translateY(2px);
}

/* HomePage.css */

/* ... existing styles ... */

@media (max-width: 768px) {
    .homepage-background {
        padding-top: 4vh;
        padding-bottom: 10vh;
        background-size: cover; /* Adjust to cover smaller screens */
    }

    .btn-iniciar {
        padding: 12px 30px;
        font-size: 1rem;
        bottom: 80px; /* Adjust button position for smaller screens */
    }
}

@media (max-width: 480px) {
    .homepage-background {
        padding-top: 2vh;
        padding-bottom: 8vh;
    }

    .btn-iniciar {
        padding: 10px 25px;
        font-size: 0.9rem;
        bottom: 60px;
    }
}