/* Asegura que el html y el body ocupen todo el viewport */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Elimina el scroll globalmente */
}

/* Fondo de la página de inicio */
.homepage-background {
    height: 100vh;
    background-image: url('/fd.png');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #6a9ec0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    width: 100vw;
    padding-top: 8vh; /* Ajuste del espacio superior para el logo */
    padding-bottom: 15vh; /* Aumenta el espacio inferior para el botón */
    box-sizing: border-box;
}

.btn-iniciar {
    padding: 15px 40px;
    background: linear-gradient(135deg, var(--color-principal), #5a5af0); /* Mantén el color principal y añade un tono ligeramente más claro */
    color: var(--color-texto-claro);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transition: all 0.3s ease;
    position: absolute;
    bottom: 120px;
}

.btn-iniciar:hover {
    background: linear-gradient(135deg, #535bf2, #4040c2); /* Gradiente más oscuro en el hover */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) scale(1.05);
}

.btn-iniciar:active {
    background: #4040c2;
    transform: translateY(2px);
}
