/* Variables de estilo */
:root {
  --color-principal: #646cff;
  --color-hover: #535bf2;
  --color-fondo-oscuro: #242424;
  --color-fondo-claro: #ffffff;
  --color-texto-claro: rgba(255, 255, 255, 0.87);
  --color-texto-oscuro: #213547;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal de la página */
.login-container {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* Ajustar la altura */
  padding: 20px;
  box-sizing: border-box;
  background-color: #0A1F44;
}

/* Formulario de inicio de sesión */
.login-form {
  background-color: #5DADE2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: var(--color-texto-claro);
}

.login-form h2 {
  margin-bottom: 25px;
  color: var(--color-texto-claro);
  font-size: 1.8rem;
  font-weight: 600;
}

/* Campos de entrada */
.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid var(--color-principal);
  border-radius: 5px;
  background-color: #ffffff; /* Fondo oscuro para integrarse con el diseño */
  color: black;
  font-size: 1rem;
}

/* Placeholder */
.login-form input::placeholder {
  color: black; /* Color de placeholder legible */
}

.login-form input:focus {
  outline: none;
  border-color: var(--color-hover);
  background-color: #ffffff; /* Fondo ligeramente más claro en foco */
}

/* Botón */
.login-form button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  background-color: #00CFC1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.login-form button:hover {
  background-color: var(--color-hover);
  transform: translateY(-2px);
}

.login-form button:active {
  background-color: #4040c2;
  transform: translateY(1px);
}

.gps-animation {
  display: flex;
  justify-content: center;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  margin-top: 10px; /* Ajusta según el espacio que desees debajo del formulario */
}

.gps-animation img {
  width: 100px; /* Ajusta el tamaño según prefieras */
  height: 100px;
}
