/* Estilo personalizado para el Popup */
.custom-popup .leaflet-popup-content-wrapper {
    background-color: #f4f4f9;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-popup .leaflet-popup-content {
    margin: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .custom-popup .leaflet-popup-tip {
    background: #f4f4f9;
  }
  