/* Centrado del formulario */
.reportes-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/* Estilo del botón con tamaño ajustado */
.centrar-boton {
  background-color: #535bf2;
  color: #ffffff;
  padding: 8px 16px; /* Reduce el padding para hacerlo más compacto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px; /* Limita el ancho máximo del botón */
  width: auto; /* Permite que el botón solo ocupe el espacio necesario */
  text-align: center;
  margin-top: 10px;
}

.centrar-boton:hover {
  background-color: #3b5998;
}

.position-link i {
  font-size: 1.2em; /* Tamaño del icono */
  color: #e74c3c; /* Color del icono */
  transition: color 0.3s;
}

.position-link i:hover {
  color: #c0392b; /* Color al hacer hover */
}
