:root {
  --color-principal: #646cff;
  --color-hover: #535bf2;
  --color-fondo-oscuro: #242424;
  --color-fondo-claro: #ffffff;
  --color-texto-claro: rgba(255, 255, 255, 0.87);
  --color-texto-oscuro: #213547;
}

.btn-primary {
  font-size: 0.75rem;
  padding: 4px 8px;
  min-width: 80px;
  border-radius: 5px;
  color: white;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .table {
    font-size: 0.8rem;
  }

  .table td,
  .table th {
    padding: 6px 4px;
  }

  .btn-primary {
    font-size: 0.7rem;
    padding: 3px 6px;
    min-width: 60px;
  }
}
